---
- name: Deploy NGINX container using Docker
  hosts: webservers
  become: true
  tasks:

    - name: Install required packages
      ansible.builtin.package:
        name: "{{ item }}"
        state: present
      loop:
        - docker
        - python3-pip

    - name: Install Docker SDK for Python
      pip:
        name: docker
        state: present

    - name: Start and enable Docker
      ansible.builtin.service:
        name: docker
        state: started
        enabled: true

    - name: Pull NGINX image
      community.docker.docker_image:
        name: nginx
        source: pull

    - name: Run NGINX container
      community.docker.docker_container:
        name: nginx
        image: nginx
        state: started
        ports:
          - "80:80"
